# Docker Compose
version: '3.8'
services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
     - 27017:27017
    environment:
     - MONGO_INITDB_ROOT_USERNAME=admin
     - MONGO_INITDB_ROOT_PASSWORD=password
    networks:
      - mongo-network
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
     - 8081:8081
    environment:
     - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
     - ME_CONFIG_MONGODB_ADMINPASSWORD=password
     - ME_CONFIG_MONGODB_SERVER=mongodb
    networks:
      - mongo-network
    depends_on:
     - "mongodb"
  node-app:
    image: nodeapp13:dev
    container_name: node-app
    ports:
      - "3000:3000"
    environment:
     - MONGO_DB_USERNAME=admin
     - MONGO_DB_PWD=password
    depends_on:
      - mongodb
    networks:
      - mongo-network
networks:
  mongo-network:
    driver: bridge
